header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 683px;
    height: 95px;
    margin-right: 139px;
    margin-left: auto;
    padding-top: 37px;
    .accounts{
       display: flex;
       justify-content: end;
       gap: 10px;
       font-size: 14px;
       a{
       text-decoration: none;
       color: $color-grey;
       padding: 9px 10px;
            &:hover{
                 border: 0.75px solid $color-yellow;
            }
        }
    }
    .scrolls{
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color:$color-black;
    }
}